body{
    font-family: 'Poppins', sans-serif;
}
.first-look{
    display: flex;
    padding:  5px 150px;
    
    
}
.line{
    border-left: 5px solid red;
    padding-left: 5%;
    font-family: initial;
}
h1{
    font-size: 30px;
    font-weight: 700;
    font-style: inherit;
}
.profile-link{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5px;
}
.ambition{
    color: coral;

}
.structure{
    width: auto;
    padding: 150px 40px;
    margin-right: 400px;
    margin-top: 50px;
}
.vission{
    
    text-align: justify;
    padding-left: 40%;
    margin-bottom: 10px;
}
.mission{
    display:flex;
    justify-content: space-evenly;
}
.aim{
    width: 200px;
    border-radius: 20px;
    border:  solid gray;
    padding: 5px;
   
}
.aim img{
    width: 100%;
    padding-right:5px;
   
}
#first{
    background-color: grey;
    padding-left: 10px;
    border-radius: 20px;
}
#second{
    background-color: lightslategray;
    border-radius: 20px;
}
#third{
    background-color:silver;
    box-shadow: 5px grey;
    border-radius: 20px;
    
}
.develop{
    
    display: flex;
    margin-top: 10px;
    text-align: justify;
    
}
.coding img{
    width: 50%;
    margin-top: 40px;
    margin-left: 200px;   
}

.global{
    padding-left: 200px;
    
    }
    .Determine{
        color: red;
    }
.hardwork{
    text-align: center;
    margin-top: 50px;

}
.style{
    background-image: url(footer.jpg);
}
.white-color{
    color: white;
    padding: 10px auto;
}
    

